 
  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  body {
    height: 100%;
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  header img {
    height: inherit;
  }
  
  header{
    background-color: #111;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position: relative;
  }

  .lienlogo{
    height: 88%;
    margin: auto 0;
  }

  .box {
    border: 1px solid #c4c4c4;
    padding: 30px 25px 10px 25px;
    background: white;
    margin: 30px auto;
    width: 360px;
  }
.div-menu-connect{
  display: flex;
  gap:2rem;
  align-items: center;
}
.div-menu-connect a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  color: white;
}
.div-menu-connect a:hover{
  background-color: rgb(43, 43, 43);
  transition: 0.5s;
}

li{
  height:50px;
  line-height:50px;
  padding:0 12px;
  background:#111;
}

ul{
  list-style: none;
  padding: 0;
}

#menu{
  position: absolute;
  top: 12vh;
  right: 0;
  display: none;
  width: 100%;
  margin: 0;
  z-index: 10;
}
#menu.show-menu{
  transform:translateY(51px);
}

#menu-button{
  font-size:50px;
  cursor:pointer;
}

#menu-button2{
  font-size:40px;
  cursor:pointer;
  display: none;
}

#menu-button2::after{
  content:'×';
}
#menu-button.close::after{
  content:'≡';
}

#menu ul li {
  font-size: 2rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #111 solid 2px;
}
#menu ul li:hover {
  background-color: rgb(41, 41, 41);
  transition: 1s;
}
a
{color: white;}

#menu ul li a{
  color: white;
  text-decoration: none;
}
#moviesMain{
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
img, svg {
  vertical-align: middle;
}
img {
  overflow: auto;
}
.card{
  display: flex;
  text-decoration: none;
  color: white;
  background-color:#111;
  width: 20rem;
  border-radius: 15px;
  position: relative;
}
.card img{
  border-radius: 15px;
  height: 100%;
  width: auto;
}
.card:hover{
  text-decoration: none;
  transition: 0.5s;
  color: white;
  background-color: rgb(0, 0, 0);
  box-shadow:0px 0px 20px 1px #c4c4c4;
}
.card:hover .moviescontent{
  transition: 2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: rgba(17, 17, 17, 0.907);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding-bottom: 6rem;
}

.moviescontent{
  display: none;
}
.btnenplus{
  position: absolute;
  bottom: 2%;
  width: 65%;
  height: 3rem;
  left: 50%;
  transform: translate(-50%, -2%);
  border-color: white;
    border-style: solid;
    background: #111111;
    color: white;
    border-radius: 15px;
    border-width: inherit;
}
.btnenplus:hover{
  background-color: rgb(55, 55, 55);
}
#section-actors{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}
.actor-card{
  background-color: #111;
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 15px;
  text-align: center;
}
.img-actor{
  height: 13rem;
  background-position: top center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.actor-card p{
  margin-bottom: 0;
  text-align: center;
}

#section-gallery{
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.img-gallery{
  height: 16rem;
  width: 23rem;
  background-size: cover;
  background-position: center;
}

#forms{
/* .forms{ */
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 1rem;
  padding: 2rem;
  background: #111111e0;
  border-radius: 15px;
  text-align: center;
  display: none;
}

#forms input{
/* .forms input{ */
  width: 60%;
  height: 3rem ;
  margin: auto;
}

input, textarea{
  background-color: rgb(26, 26, 26);
  color: white;
  padding:  0 1rem ;
  border: none;
  border-radius: 10px;
}

.forms-login{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 2rem;
  background: #111;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  margin: 2rem auto;
}
.forms-login input{
    width: 60%;
    height: 3rem ;
    margin: auto;
  }
.label{
  display: flex;
  flex-direction: column;
  position: relative;
}
.password-icon {
  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  right: 22%;
  transform: translate(-22% , -50%);
  width: 20px;
  height: 20px;
  color: #f9f9f9;
  transition: all 0.2s;
}

.label .password-icon:hover {
  cursor: pointer;
  color: #ff4754;
}

.label .password-icon .feather-eye-off {
  display: none;
}
i{
  height: 20px;
  width: 20px;
}

.linkadd {
  margin-right: 2rem;
  display: flex;
  background-color: #111;
  padding: 1rem 1.5rem;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  margin-left: auto;
  justify-content: center;
}

.linkadd:hover {
  background-color: rgb(40, 40, 40);
  box-shadow: 0px 0px 5px 0px white;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-submit:hover{
  background-color: rgb(40, 40, 40);
  box-shadow: 0px 0px 5px 0px white;
  color: white;
  border: none;
  cursor: pointer;
}
.xdebug-error.xe-warning tbody{
  color: #111;
}

.movie-galerie{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.movie-galerie img{
max-height: 12rem;
}

.movie-acteur-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.movie-acteur{
  display: flex;
  flex-direction: column;
}

.img-baniere{
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  padding: 2rem;
  position: relative;
  background-attachment: fixed;
 }

 .bafilm{
  width: 35rem;
  height: 20rem;
 }
 
.bg-single-movie {
  position: absolute;
  content:"";
  min-height: 100vh;
  width:90%;
  top:0;
  left:0;
  background: linear-gradient(90deg, #111, #111 28%, #3330 75%);
} 

.storymovie {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.z-1{
  z-index: 1;
}

.com{
  background: #111;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  gap: 1rem;
  align-items: flex-end;
}

.forms-login textarea{
  width: 60%;
    margin: auto;
    height: 5rem;
    padding: 0.5rem 1rem;
}
.p-2{
  padding: 2rem;
}